<section id="login">
  <div class="container">
    <di class="col-md-4 col-md-offset-4">
      <form class="login-form" ng-submit="login()" autocomplete="off">
        <div class="form-group">
          <input id="email" type="text" class="form-control"
            placeholder="Usuario" ng-model="user.email" required>
          <label class="login-field-icon fui-user" for="login-name"></label>
        </div>
        <div class="form-group">
          <input id="password" type="password" class="form-control"
            placeholder="Contraseña" ng-model="user.password" required>
          <label class="login-field-icon fui-lock" for="login-pass"></label>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">
          Ingresar
        </button>
      </form>
    </di>
  </div>
</section>
